@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  color-scheme: light;
}


