<div class="dialog">
  <h2 matDialogTitle class="success">Se autenticó correctamente</h2>

  <mat-dialog-content class="custom-height-flexible">
    <h2 class="message font-semibold mt-6">
      Seleccione su rol en la empresa por favor:
    </h2>
    <mat-radio-group [formControl]="roleControl" class="mt-2" required>
      <mat-radio-button value="2">Empleado</mat-radio-button>

      <mat-radio-button value="2">Visitante</mat-radio-button>
    </mat-radio-group>

    @if (roleControl.invalid && roleControl.touched) {
    <div class="text-red-500 text-sm mt-2">
      Por favor seleccione un rol para continuar
    </div>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      matButton
      (click)="onContinue()"
      class="mb-2 btn-dialog"
      [disabled]="roleControl.invalid"
    >
      Continuar
    </button>
  </mat-dialog-actions>
</div>
