<mat-toolbar class="bg-gray-800 border-b border-gray-700 h-16">
  <button
    type="button"
    mat-icon-button
    class="mr-4 text-3xl hover:bg-gray-200 rounded-2xl h-10 w-10"
    (click)="toggleDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button class="mr-4">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span class="flex-1"></span>
  <div class="flex items-center space-x-4">
    <span class="text-sm hidden md:block">Base</span>
    <span class="text-sm hidden md:block">Collaboration</span>
    <span class="text-sm hidden md:block">Config</span>
      <button class="button block" (click)="signOut()">Sign Out</button>
    <div class="w-8 h-8 bg-gray-600 rounded-full"></div>
  </div>
</mat-toolbar>
