<mat-card class="login-card" appearance="outlined">
  <mat-card-header class="header-login">
    <mat-icon
      class="login-icon"
      aria-hidden="false"
      aria-label="login icon"
      fontIcon="account_circle"
    >
    </mat-icon>
    <h1 class="text-3xl font-bold mt-4 mb-4">Inicio de sesión</h1>
    <p class="text-sm text-gray-500 mt-1 text-center">
      Inicia sesión con un correo y una contraseña
    </p>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="input-form mt-7 mb-3">
        <mat-label>Ingrese su E-mail</mat-label>
        <input
          type="email"
          matInput
          #email
          maxlength="45"
          placeholder="rafaelargotez@gmail.com"
          formControlName="email"
          required
        />
        @if (form.controls.email.errors?.['required'] && email.value == '') {
        <mat-error>El correo es obligatorio</mat-error>
        } @if (form.controls.email.errors?.['email']) {
        <mat-error>Ingrese un correo válido</mat-error>
        }
        <mat-hint align="end">{{ email.value.length }} / 45</mat-hint>
      </mat-form-field>
      <mat-form-field class="input-form mb-3">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input
          maxlength="45"
          #password
          matInput
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          type="button"
          matIconButton
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (form.controls.password.errors?.['required'] && password.value ==
        '') {
        <mat-error>La contraseña es obligatoria</mat-error>
        } @if (form.controls.password.errors?.['minlength'] && password.value !=
        '') {
        <mat-error>La contraseña tiene que ser mayor a 6 caracteres</mat-error>
        }
        <mat-hint align="end">{{ password.value.length }} / 45</mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <button
          matButton="elevated"
          class="btn-ingresar mt-1"
          [disabled]="form.invalid"
        >
          Iniciar Sesión
        </button>
      </mat-card-actions>
    </form>
    <div class="divider"></div>
  </mat-card-content>
  <div class="text-center mt-6 text-gray-500">
    No tienes una cuenta?
    <a
      (click)="changeValue.emit()"
      class="text-blue-700 underline font-bold cursor-pointer"
      >Registrate.</a
    >
  </div>
</mat-card>
