@use "./app/styles/material.scss";
@use "./app/styles/tailwind.css";
@use "@angular/material" as mat;
@use "./app/styles/styles_theme-colors.scss" as xd;
.error {
  @include mat.dialog-overrides(
    (
      subhead-color: red,
    )
  );
}
.success {
  @include mat.dialog-overrides(
    (
      subhead-color: green,
    )
  );
}
.bg-orange-dark {
  @include mat.toolbar-overrides(
    (
      container-background-color: gray,
      container-text-color: white,
    )
  );
}
:root {
  @include mat.sidenav-overrides(
    (
      container-background-color: black,
      container-text-color: white,
      container-shape: square,
    )
  );
}
.error {
  @include mat.icon-overrides(
    (
      color: red,
    )
  );
}
.toolbar-user {
  @include mat.toolbar-overrides((
    container-background-color: map-get(xd.$primary-palette, 70),
    container-text-color: black,
    standard-height: 100px
  ));
}
.logout-button{
  @include mat.fab-overrides((
    container-color: white,
    foreground-color: black,
    container-elevation-shadow: var(--mat-sys-level0)
  ));

}

