@use "./app/styles/material.scss";
@use "./app/styles/tailwind.css";
@use "@angular/material" as mat;
.error {
  @include mat.dialog-overrides(
    (
      subhead-color: red,
    )
  );
}
.success {
  @include mat.dialog-overrides(
    (
      subhead-color: green,
    )
  );
}
.bg-orange-dark {
  @include mat.toolbar-overrides(
    (
      container-background-color: gray,
      container-text-color: white,
    )
  );
}
:root {
  @include mat.sidenav-overrides(
    (
      container-background-color: black,
      container-text-color: white,
      container-shape: square,
    )
  );
}
.error {
  @include mat.icon-overrides(
    (
      color: red,
    )
  );
}
