<mat-toolbar class="bg-orange-dark ">
  <button
    type="button"
    mat-icon-button
    class="mr-4 text-3xl rounded-2xl h-10 w-10"
    (click)="toggleDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="text-black text-2xl font-bold">Bienvenido {{ names() }}</h1>
  <span class="flex-1"></span>
  <div class="flex items-center space-x-4">
    <span class="text-sm hidden md:block"></span>
    <button mat-fab extended (click)="signOut()" class="logout-button">
      <mat-icon>logout</mat-icon>
      <span class="logout-text">Cerrar sesión</span>
    </button>
  </div>
</mat-toolbar>
